In [1]:
import numpy as np
import pandas as pd
import montecarlo as mc
from collections import Counter
from itertools import combinations, permutations

In [2]:
die = mc.Die(np.array(['1','2','3','4','5','6']))
die2 = mc.Die(np.array(['1','2','3','4','5','6']))
die3 = mc.Die(np.array(['1','2','3','4','5','6']))

In [3]:
die.set_wts('6',3)
die2.set_wts('6',3)
die3.set_wts('6',3)

In [4]:
game = mc.Game([die,die2,die3])

In [15]:
game.play(25)

In [16]:
a = game.get_most_recent_play()
a

die_number   0  1  2
roll_number
0            3  6  1
1            3  6  3
2            4  4  1
3            3  2  1
4            3  2  3
5            5  6  4
6            4  6  5
7            3  1  4
8            6  6  1
9            1  5  3
10           2  5  1
11           6  6  6
12           4  2  4
13           6  2  2
14           1  2  6
15           3  6  3
16           2  2  4
17           6  2  6
18           2  3  5
19           4  6  4
20           4  5  6
21           6  6  6
22           4  6  1
23           3  1  5
24           4  6  1

In [17]:
an = mc.Analyzer(game)

In [19]:
an.jackpot_count()

2

In [21]:
an.face_count()

             1  2  3  4  5  6
roll_number
0            1  0  1  0  0  1
1            0  0  2  0  0  1
2            1  0  0  2  0  0
3            1  1  1  0  0  0
4            0  1  2  0  0  0
5            0  0  0  1  1  1
6            0  0  0  1  1  1
7            1  0  1  1  0  0
8            1  0  0  0  0  2
9            1  0  1  0  1  0
10           1  1  0  0  1  0
11           0  0  0  0  0  3
12           0  1  0  2  0  0
13           0  2  0  0  0  1
14           1  1  0  0  0  1
15           0  0  2  0  0  1
16           0  2  0  1  0  0
17           0  1  0  0  0  2
18           0  1  1  0  1  0
19           0  0  0  2  0  1
20           0  0  0  1  1  1
21           0  0  0  0  0  3
22           1  0  0  1  0  1
23           1  0  1  0  1  0
24           1  0  0  1  0  1

In [22]:
game.get_most_recent_play()

die_number   0  1  2
roll_number
0            3  6  1
1            3  6  3
2            4  4  1
3            3  2  1
4            3  2  3
5            5  6  4
6            4  6  5
7            3  1  4
8            6  6  1
9            1  5  3
10           2  5  1
11           6  6  6
12           4  2  4
13           6  2  2
14           1  2  6
15           3  6  3
16           2  2  4
17           6  2  6
18           2  3  5
19           4  6  4
20           4  5  6
21           6  6  6
22           4  6  1
23           3  1  5
24           4  6  1

In [25]:
combinations(game.get_most_recent_play().values,
             len(game.get_most_recent_play().values[0])
)

In [24]:
an.combination_count()

       n_combinations
1 2 6               1
  5 3               1
2 2 4               1
  3 5               1
  5 1               1
3 1 4               1
    5               1
  2 1               1
    3               1
  6 1               1
    3               2
4 2 4               1
  4 1               1
  5 6               1
  6 1               2
    4               1
    5               1
5 6 4               1
6 2 2               1
    6               1
  6 1               1
    6               2

In [45]:
# Get the most recent play's values
recent_play_values = game.get_most_recent_play().values

# Create a counter for all combinations of a specific length from each value
combinations_counter = Counter()

for value in recent_play_values:
    combos = combinations(value, len(recent_play_values[0]))
    combinations_counter.update(combos)

# Convert the counter to a dictionary
result = dict(combinations_counter)

In [46]:
result

{('4', '4', '4'): 2,
 ('2', '6', '6'): 1,
 ('4', '6', '2'): 1,
 ('1', '4', '3'): 1,
 ('4', '3', '1'): 1,
 ('5', '4', '6'): 1,
 ('6', '6', '4'): 1,
 ('2', '3', '5'): 1,
 ('6', '3', '1'): 1,
 ('2', '1', '6'): 1,
 ('4', '6', '1'): 1,
 ('2', '5', '4'): 1,
 ('1', '2', '2'): 1,
 ('6', '6', '6'): 2,
 ('5', '5', '3'): 1,
 ('5', '4', '3'): 1,
 ('3', '6', '3'): 1,
 ('4', '3', '3'): 1,
 ('5', '6', '1'): 1,
 ('5', '5', '4'): 1,
 ('2', '3', '6'): 1,
 ('5', '1', '1'): 1,
 ('1', '4', '6'): 1}

In [43]:
an.combination_count()

n_combinations    1
Name: (1, 2, 6), dtype: int64

In [35]:
game.get_most_recent_play().value_counts().to_frame().sort_index()

       0
0 1 2
1 2 6  1
  5 3  1
2 2 4  1
  3 5  1
  5 1  1
3 1 4  1
    5  1
  2 1  1
    3  1
  6 1  1
    3  2
4 2 4  1
  4 1  1
  5 6  1
  6 1  2
    4  1
    5  1
5 6 4  1
6 2 2  1
    6  1
  6 1  1
    6  2

In [26]:
dict(
    sum(
        [Counter(
            combinations(r,len(game.get_most_recent_play().values[0]))) for r in game.get_most_recent_play().values],Counter()))

{('3', '6', '1'): 1,
 ('3', '6', '3'): 2,
 ('4', '4', '1'): 1,
 ('3', '2', '1'): 1,
 ('3', '2', '3'): 1,
 ('5', '6', '4'): 1,
 ('4', '6', '5'): 1,
 ('3', '1', '4'): 1,
 ('6', '6', '1'): 1,
 ('1', '5', '3'): 1,
 ('2', '5', '1'): 1,
 ('6', '6', '6'): 2,
 ('4', '2', '4'): 1,
 ('6', '2', '2'): 1,
 ('1', '2', '6'): 1,
 ('2', '2', '4'): 1,
 ('6', '2', '6'): 1,
 ('2', '3', '5'): 1,
 ('4', '6', '4'): 1,
 ('4', '5', '6'): 1,
 ('4', '6', '1'): 2,
 ('3', '1', '5'): 1}

In [24]:
cts = dict(
    sum(
        [Counter(
            combinations(r,len(game.get_most_recent_play().values[0]))) for r in game.get_most_recent_play().values],Counter()))

In [26]:
cts

{('4', '4', '4'): 2,
 ('2', '6', '6'): 1,
 ('4', '6', '2'): 1,
 ('1', '4', '3'): 1,
 ('4', '3', '1'): 1,
 ('5', '4', '6'): 1,
 ('6', '6', '4'): 1,
 ('2', '3', '5'): 1,
 ('6', '3', '1'): 1,
 ('2', '1', '6'): 1,
 ('4', '6', '1'): 1,
 ('2', '5', '4'): 1,
 ('1', '2', '2'): 1,
 ('6', '6', '6'): 2,
 ('5', '5', '3'): 1,
 ('5', '4', '3'): 1,
 ('3', '6', '3'): 1,
 ('4', '3', '3'): 1,
 ('5', '6', '1'): 1,
 ('5', '5', '4'): 1,
 ('2', '3', '6'): 1,
 ('5', '1', '1'): 1,
 ('1', '4', '6'): 1}

In [28]:
pd.DataFrame(index=cts.keys(),data=cts.values()).sort_index().rename({0:"n_combinations"},axis=1)

       n_combinations
1 2 2               1
  4 3               1
    6               1
2 1 6               1
  3 5               1
    6               1
  5 4               1
  6 6               1
3 6 3               1
4 3 1               1
    3               1
  4 4               2
  6 1               1
    2               1
5 1 1               1
  4 3               1
    6               1
  5 3               1
    4               1
  6 1               1
6 3 1               1
  6 4               1
    6               2