In [23]:
import numpy as np
import pandas as pd
import montecarlo as mc
from collections import Counter
from itertools import combinations, permutations

In [4]:
die = mc.Die(np.array(['1','2','3','4','5','6']))
die2 = mc.Die(np.array(['1','2','3','4','5','6']))
die3 = mc.Die(np.array(['1','2','3','4','5','6']))

In [5]:
die.set_wts('6',3)
die2.set_wts('6',3)
die3.set_wts('6',3)

In [6]:
game = mc.Game([die,die2,die3])

In [7]:
game.play(3)

In [8]:
a = game.get_most_recent_play()
a

die_number   0  1  2
roll_number
0            4  6  4
1            6  4  1
2            1  1  2

In [10]:
an = mc.Analyzer(game)

In [11]:
an.jackpot_count()

0

In [12]:
game.dice[0].faces

array(['1', '2', '3', '4', '5', '6'], dtype='<U1')

In [14]:
an.face_count()

             1  2  3  4  5  6
roll_number
0            0  0  0  2  0  1
1            1  0  0  1  0  1
2            2  1  0  0  0  0

In [51]:
game.get_most_recent_play()

die_number   0  1  2
roll_number
0            4  6  4
1            6  4  1
2            1  1  2

In [47]:
cts = dict(sum([Counter(combinations(r,2)) for r in game.get_most_recent_play().values],Counter()))

In [57]:
[Counter(permutations(r,2)) for r in game.get_most_recent_play().values]

[Counter({('4', '6'): 2, ('4', '4'): 2, ('6', '4'): 2}),
 Counter({('6', '4'): 1,
          ('6', '1'): 1,
          ('4', '6'): 1,
          ('4', '1'): 1,
          ('1', '6'): 1,
          ('1', '4'): 1}),
 Counter({('1', '1'): 2, ('1', '2'): 2, ('2', '1'): 2})]

In [54]:
[Counter(combinations(r,2)) for r in game.get_most_recent_play().values]

[Counter({('4', '6'): 1, ('4', '4'): 1, ('6', '4'): 1}),
 Counter({('6', '4'): 1, ('6', '1'): 1, ('4', '1'): 1}),
 Counter({('1', '1'): 1, ('1', '2'): 2})]

In [53]:
cts

{('4', '6'): 1,
 ('4', '4'): 1,
 ('6', '4'): 2,
 ('6', '1'): 1,
 ('4', '1'): 1,
 ('1', '1'): 1,
 ('1', '2'): 2}

In [52]:
pd.DataFrame(index=cts.keys(),data=cts.values()).sort_index().rename({0:"n_combinations"},axis=1)

     n_combinations
1 1               1
  2               2
4 1               1
  4               1
  6               1
6 1               1
  4               2