In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
np.__version__

'1.24.3'

In [3]:
pd.__version__

'1.2.0'

### Exercise 6.1

In [6]:
df = pd.DataFrame({'features':[1,2,3,4,5],'labels':[0,1,2,2,1]})
df

   features  labels
0         1       0
1         2       1
2         3       2
3         4       2
4         5       1

### Exercise 6.2

In [9]:
df.rename({'labels':'label'},axis=1,inplace=True)
df

   features  label
0         1      0
1         2      1
2         3      2
3         4      2
4         5      1

### Exercise 6.3

In [10]:
iris = sns.load_dataset('iris')

In [12]:
iris.sort_values('species',ascending=False)

     sepal_length  sepal_width  petal_length  petal_width    species
149           5.9          3.0           5.1          1.8  virginica
111           6.4          2.7           5.3          1.9  virginica
122           7.7          2.8           6.7          2.0  virginica
121           5.6          2.8           4.9          2.0  virginica
120           6.9          3.2           5.7          2.3  virginica
..            ...          ...           ...          ...        ...
31            5.4          3.4           1.5          0.4     setosa
30            4.8          3.1           1.6          0.2     setosa
29            4.7          3.2           1.6          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
0             5.1          3.5           1.4          0.2     setosa

[150 rows x 5 columns]

### Exercise 6.4

In [16]:
iris['species'].value_counts() #.to_frame()

virginica     50
setosa        50
versicolor    50
Name: species, dtype: int64

### Exercise 6.5

In [18]:
iris.loc[(iris['petal_length'] <= 1.4) | (iris['petal_length'] >= 1.6)].shape[0]

137

### Exercise 6.6

In [37]:
iris['min_petal'] = iris.apply(lambda x: min(x['petal_length'],x['petal_width']),axis=1)

In [38]:
iris['min_petal']

0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: min_petal, Length: 150, dtype: float64

### Exercise 6.7

In [47]:
iris.pivot_table(aggfunc = {'mean','median'},values=['sepal_length','sepal_width'],columns=['species'])

species              setosa  versicolor  virginica
sepal_length mean     5.006       5.936      6.588
             median   5.000       5.900      6.500
sepal_width  mean     3.428       2.770      2.974
             median   3.400       2.800      3.000

### Exercise 6.8

In [ ]:
# left = pd.DataFrame({'age','key':['Ival','rval'],'name':['asher','bill','jaime']})
# right = pd.DataFrame({'age','key':['Ival','rval'],'name':})

In [48]:
# inner = pd.merge(left, right, on='key', how = 'inner')
# outer = left.join(right,how='outer')

### Exercise 6.9

In [54]:
s = pd.Series([1,1,2,3,5,8]).values.reshape((2,3))
print(s)
print(f"Shape: {s.shape}")

[[1 1 2]
 [3 5 8]]
Shape: (2, 3)

### Exercise 6.10

In [56]:
cats = pd.DataFrame({

    'breed':['persian','persian','siamese','himalayan','burmese'],
    'color':['calico','white','seal point', 'cream','sable']
})

In [58]:
pd.get_dummies(cats,prefix={'breed':'b','color':'c'})

,b_burmese,b_himalayan,b_persian,b_siamese,c_calico,c_cream,c_sable,c_seal point,c_white
0,0,0,1,0,1,0,0,0,0
1,0,0,1,0,0,0,0,0,1
2,0,0,0,1,0,0,0,1,0
3,0,1,0,0,0,1,0,0,0
4,1,0,0,0,0,0,1,0,0